:root {
	--black: #000000;
	--white: #ffffff;
	--ol: 1px solid white;
	--olB: 1px solid blue;
	--olY: 1px solid yellow;
	--olR: 1px solid red;

	--project-color-main: #0c090a;
	--project-color-secondary: #c0c0c0;
	--font-color-dark: #454545;
}
* {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.container {
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}

html,
body {
	display: flex;
	justify-content: center;
	align-content: center;
	background: var(--project-color-main);
}

html {
	height: 100%;
	width: 100%;
	padding: 8px;
}

body {
	width: 100%;
	max-width: 1440px;
	height: 100%;
	align-self: center;
	place-items: center;
}

h2 {
	text-shadow: 1px 1px 5px var(--project-color-secondary);
	font-size: 4rem;
	color: var(--project-color-main);
}

h3 {
	color: var(--project-color-secondary);
}

h5 {
	color: var(--project-color-secondary);
	font-size: 1.2rem;
	cursor: pointer;
	width: 100%;
	text-align: center;
}

h5:hover {
	color: var(--project-color-secondary);
	transform: scale(1.1);
}
